dist/
node_modules/
test-ledger/
.idea/
keys/localnet/farms.json
keys/localnet/owner.json
.env
configs/**/*.json
.yalc
yalc.lock

# Only allow reserve_config_example.json in configs/ folder, but ignore all others
!configs/reserve_config_example.json
